#mobile-menu .MuiMenu-paper {
  left: 0 !important;
}

.button-link {
  text-decoration: none;
}

#value-slider > span.MuiSlider-markLabel {
  margin-top: -9px;
}

p#value-slider-label {
  margin-bottom: 8px;
  margin-top: -8px;
  font-size: 0.7rem;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.6);
}

label.testing-data-toggle-label {
  font-size: 0.8rem;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  color: rgba(0, 0, 0, 0.6);
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.css-12i7wg6-MuiPaper-root-MuiDrawer-paper {
  background-color: #2315bb !important; /* Dark Purple */
}


.MuiListItem-root.Mui-selected {
  background-color: orange;
  /* Add other styles as needed */
}
