[Unit]
Description=Fan Service
After=network.target syslog.target bluetooth.target

[Service]
User=pi
WorkingDirectory=/home/pi/iot/scripts
ExecStart=/bin/bash /home/pi/iot/scripts/start_fan.sh
StandardOutput=journal

[Install]
WantedBy=multi-user.target
